<h3>Create A New Topic</h3>
<%= simple_form_for @topic do |f|%>
	<%= f.input :title, label: '标题' %>
	<%= f.input :content, label: '内容', as: :text %>
	<%= f.button :submit, value: '确认', :class => "btn btn-primary" %>
<% end%>