.gravatar{
	width: 80;
	height: 80;
	border-radius: 8px;
	display: inline-block;
}
.brand{
	font-size: 24.5px;
	line-height: 50px;
}

.user-bar{
	float: right;	
}

.user-bar-list{
	padding: 10px,10px;
}